<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataReport_XP.Properties.Settings.eduData2013DBConnectionString1" connectionString="Data Source=192.168.0.10;Initial Catalog=eduData2013DB;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="DataReport_XP.Properties.Settings.eduData2016DBConnectionString" connectionString="Data Source=.;Initial Catalog=eduData2016DB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
